<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <title>
                Ferreteria
            </title>
        </meta>
    </head>
    <body>
        <h1>
            Materiales y Aceros
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti aspernatur ad ducimus animi, officia facere necessitatibus est eos libero esse, omnis, nesciunt quibusdam possimus in aliquam ut nam vero voluptas.
        </p>
    </body>
</html>